@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

html {
    scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}


/* Column system
=================== */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}


@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 16.6666%;
	}
}





/* typography
=================== */

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
}

.title span {
	font-weight: 100;
	margin-top: 1.5rem;
	display: block;
	font-size: .5em;
}

.title-cta {
	margin: 0 0 .5em;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width: 320px) {
  p {
    /* padding-top: 5em; */
    font-size: 1rem;
    line-height: 1;
  }

  .title {
    font-size: 2.3rem;
    padding-top: 2.6em;

  }
}

@media (min-width: 768px) {
  p {
	padding-top: 1em;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .title {
    font-size: 3.7rem;

  }
}
@media (max-width: 100%) {
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .title {
    font-size: 3.7rem;
  }
}

/* buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
	/* text-align: center; */
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color: #ffffff;
	border-color: #ffffff;
}

.button-accent:hover,
.button-accent:focus {
	background: #f21a25;
	color: #ffffff;
	border-color: #f21a25;
}

.button-dark {
	color: #232323;
	border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
	background: #232323;
	color: #ffffff;
}

/* Parallax
=================== */

.parallax--bg,
.parallax--box {
	transition: initial;
}



/* header
=================== */

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
	/* background-color: red; */
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1rem;
	/* padding-top: 1rem; */

}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: white;
	font-size: .8rem;
}
.logo{
width: 100%;
}

nav a:hover,
nav a:focus {
	color: #ddd;
}

@media (min-width:320px) {
	.logo {
		float: center;
		width: 110px;
	}

	nav {
		float: center;

	}

}

@media (min-width:768px) {
	.logo {
		float: left;
		width: 120px;
	}

	nav {
		padding-top: 1em;
		float: right;
	}
}



/* hero-home
=================== */

.home-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65)), url(../img/ds-characters2.webp);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #FFF;
}

@media (min-width: 320px) {
	.home-hero {
		height: 100vh;
		padding-top: 20.5vh;
		/* padding-bottom: 20.5vh; */
	}
}

@media (min-width: 768px) {
	.home-hero {
		height: 100vh;
		padding-top: 12vh;
	}
}

/* hero-home
=================== */

/* .home-about-textbox {
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #ffffff;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-about-textbox h1 {
	color: #ffffff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .145em;
}

@media (min-width: 320px) {
	h1 {
		font-size: 2rem;

	}

	.home-about-textbox {
		padding: 5.5em;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}

	p {
		line-height: 2em;
		text-align: justify;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 2.5rem;
	}
	p {
		line-height: auto;
		text-align: justify;
	}

	.home-about {
		background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/who-we-are.jpg);
		background-repeat: no-repeat;
		padding-bottom: 10em; 
	}

	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: -5em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
	}

	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}


} */
/* hero-home
=================== */
.container2{
	background-color: #e9e9e9;
}

.home-about-textbox {
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #ffffff;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-about-textbox h1 {
	color: #ffffff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .145em;
}

@media (min-width: 320px) {
	h1 {
		font-size: 1.9rem;
	}

	p{
		text-align: justify;
		line-height: 2rem;
		font-size: 0.95rem;
	}

	.home-about-textbox {
		padding: 3.5em;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
}

/* @media (min-width: 400px) {
	h1 {
		font-size: 2rem;
	}

	p{
		text-align: justify;
		line-height: 2rem;
	}

	.home-about-textbox {
		padding: 5.5em;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
} */

@media (min-width: 960px) {
	h1 {
		font-size: 3rem;
	}

	.home-about {
		background-image: url(../img/who-we-are_2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		/* padding-bottom: 10em; */
		/* margin-bottom: -2rem; */
	}

	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: -5em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
	}

	p{
		font-size: 1.2rem;
		margin-top: -1.5rem;
	}

	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}


}



/* portfolio
=================== */

.portfolio {
	margin: 3em 0 0;
}

.port-item {
	margin: 0;
	position: relative;
}

.port-item img {
	display: block;
}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0,.6);
	padding-bottom: 2em;
}

.port-desc p {
	margin: 1em;
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem) {
  .port-item {
    width: 33.3333334%;
    overflow: hidden;
    text-align: center;
  }

  .port-item img {
    width: 250px;       /* set fixed width */
    height: 450px;      /* set fixed height */
    object-fit: cover;  /* crop but keep proportions */
    display: block;
    margin: 0 auto;
    border-radius: 8px; /* optional, keeps design clean */
  }

	/* .giyu {
	width: 250px;
	margin: 0 auto;
	}

	.mitsuri {
	width: 250px;
	margin: 0 auto;
	}

	.tengen {
	width: 250px;
	margin: 0 auto;
	}

	.kyojuro {
	width: 250px;
	margin: 0 auto;
	}

	.obanai {
	width: 250px;
	margin: 0 auto;
	}

	.shinobu {
	width: 250px;
	margin: 0 auto;
	}

	.gyomei {
	width: 250px;
	margin: 0 auto;
	}

	.sanemi {
	width: 250px;
	margin: 0 auto;
	}

	.muichiro {
	width: 250px;
	margin: 0 auto;
	} */

  .port-desc {
    transform: translateY(150%);
    transition: transform 0.3s ease;
  }

  .port-item:hover .port-desc {
    transform: translateY(0%);
  }
}


/* CTA
=================== */

.cta {
	background-color: #e9e9e9;
	padding-bottom: 10em;
}


/* Footer
=================== */

footer {
	background: #232323;
	color: #fff;
	text-align: left;
	padding: 5em 0;
}

.unstyled-list li{
	font-size: 1.2em;
	/* margin: 1rem; */
	/* padding: 0 0 0 1em; */
}
